<h1><%= @students.name %></h1>
<ul>
	<li>
		<strong>RA: </strong> <%= @students.ra %>
	</li>
</ul>


<%= link_to "Editar", edit_student_path %>
<%= link_to "Excluir", student_path, method: :delete %>
<%= link_to "Voltar", students_path %>